:root[data-theme="light"] {
    --switch-pos: 0.55em;
}

[data-theme="dark"] {
    --switch-pos: 3.7em;
}

@media (max-width: 400px) {
    #main-header #logo {
        font-size: 2.5em;
    }
}

@media (max-width: 375px) {
    
    #mobile ul li {
        padding: 0 1em;
    }
    
    #mobile ul li svg {
        width: 20px;
        height: 20px;
    }

    #mobile div#drop-catalogo {
        width: 15em;
        bottom: 35dvh;
        right: calc((100dvw - 15em)/2);
    }

    #mobile div#drop-catalogo p {
        font-size: 1em;
        padding: 1em 0 0.5em;
    }

    #mobile div#drop-catalogo li {
        width: 40%;
        padding: 0.5em;
    }

    #mobile div#drop-catalogo ul {
        padding: 0.5em 0;
    }
}

footer {
    display: none;
}

header {
    padding: unset;
}

#logo {
    font-size: 4em;
}

nav#menu {
    display: none;
}

#drop-p {
    padding: 0.5em;
}

#mobile {
    display: block;
    width: 100%;
    bottom: -1px;
    margin: auto;
    position: fixed;
    background: linear-gradient(to top right, var(--primaryGradient), var(--secondaryGradient));;
}

#mobile ul {
    padding: 0.8em 0;
    margin: auto;
    text-align: center;
    width: 100%;
}

#mobile li {
    display: inline-block;
    padding: 0 1.5em;
}

#mobile #home {
    fill: var(--primaryText);
}

div#presentation {
    height: 85dvh;
}

#presentation .title {
    font-size: 2em;
}

#presentation .subtitle {
    font-size: 1em;
}

#info .info-p {
    font-size: 1.5em;
    margin: auto;
    padding: 1em;
}

#examples .title, #about .title, #review .title {
    font-size: 2em;
}

#examples .examples-col {
    width: 15em;
}

#last {
    padding: 4em 0 6em 0;
    gap: 2em;
}

#last div {
    width: 70%;
}

#button {
    margin: auto;
}

#deflist {
    padding-bottom: 5em;
}

.dropdown {
    width: 70%;
}

#contact-info {
    padding-top: 2em;
}

.sk-ww-google-reviews {
    padding-bottom: 4em;
}

#form-container {
    width: unset;
    margin: 5em 2em;
    padding: 1em;
}

#form-container p {
    padding: 0 1em;
}

#form-container h2, #info .header {
    font-size: 1.5em;
}

#info .info-title {
    font-size: 1.8em;
}

main#login-main {
    display: none;
}

#mobile {
    z-index: 999;
}

#mobile .dropup-list {
    position: fixed;
    z-index: 999;
    background-color: var(--bgDiv);
    border-radius: 2px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15), inset -1px -1px 2px rgba(0, 0, 0, 0.15);
}

#mobile #drop-catalogo, #mobile #profile-dropup {
    width: 20em;
    margin: auto;
    bottom: 35dvh;
    right: calc((100dvw - 20em)/2);
}

#mobile #drop-catalogo li {
    width: 40%;
    padding: 0.5em;
    background-color: var(--secondaryGradient);
    display: inline-block;
    text-align: center;
}

#mobile #profile-dropup li {
    width: 100%;
    padding: 1em;
    margin: 0.5em auto;
    background-color: var(--secondaryGradient);
    align-items: center;
}

#mobile #drop-catalogo ul {
    padding: 2em;
    display: flex;
    justify-content: space-evenly;
}

#mobile #profile-dropup ul {
    padding: 2em;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#mobile .dropup-list a {
    margin: auto;
    width: 100%;
    text-align: center;
}

#mobile .dropup-list a svg {
    vertical-align: middle;
}

#mobile .dropup-list p {
    text-align: center;
    margin: auto;
    padding: 2em 0 1em;
    font-size: 1.5em;
}

.obscured {
    filter: blur(5px);
    position: fixed;
}