@media (max-width: 420px) {
    #main-header #logo {
        font-size: 3em;
    }

    #mobile ul li {
        padding: 0 1em;
    }

    #info h2.info-title {
        font-size: 1.3em;
    }
    
    #contact-info {
        padding: unset;
    }

    .info-col #hours {
        font-size: 1em;
    }

    #contact-info .info-col h2 {
        font-size: 1.5em;
    }

    #contact-info .info-col h4 {
        font-size: 1em;
    }

    #form-container fieldset {
        padding: 1em 0;
    }

    div#form-container p {
        padding: unset;
        font-size: 1em;
    }

    #form-container h2 {
        font-size: 1.5em;
    }

    #form-container form#contact-form {
        padding: 0.5em;
    }

    #contact-form label {
        width: 90%;
        padding-top: unset;
        width: unset;
    }

    #form-container #contact-form input {
        margin: 0.5em 0;
    }

    #additional {
        margin-bottom: 1em;
    }

    form#contact-form textarea::placeholder {
        font-size: 0.8em;
    }

    #contact-form #termini {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #contact-form #tos a, #contact-form #tos {
        font-size: 0.8em;
    }

    #contact-form #tos a{
        margin-left: 0.3em;
    }

    #contact-form input#terms{
        margin-right: 0.3em;
    }

    #contact-form input[type="submit"] {
        margin: unset;
    }

    div#last {
        padding-top: 4em;
        gap: 2em;
    }

    #last div {
        width: 80%;
    }

    #newsletter label {
        width: 80%;
        display: block;
        margin: auto;
    }

    #newsletter #label-form-terms {
        font-size: 0.1em;
    }

    #newsletter #form-email {
        text-align: center;
    }

    #newsletter #button {
        font-size: 0.8em;
        width: 30%;
    }

    h2#detail {
        font-size: 1.2em;
    }
}

@media (max-width: 375px) {
    
    #mobile ul li {
        padding: 0 1em;
    }
    
    #mobile ul li svg {
        width: 20px;
        height: 20px;
    }

    #mobile div#drop-catalogo {
        width: 15em;
        bottom: 35dvh;
        right: calc((100dvw - 15em)/2);
    }

    #mobile div#drop-catalogo p {
        font-size: 1em;
        padding: 1em 0 0.5em;
    }

    #mobile div#drop-catalogo li {
        width: 40%;
        padding: 0.5em;
    }

    #mobile div#drop-catalogo ul {
        padding: 0.5em 0;
    }

    #product-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    #product-list .product-card {
        margin: 1em 0;
    }

    #product-list .product-card img {
        height: 200px;
    }

    input#accessories, input#addToCart {
        font-size: 0.8em;
        padding: 0.3em;
    }

    #product .container {
        width: 98%;
    }
}

@media (max-width: 300px) {
    #mobile ul li {
        padding: 0 0.5em;
    }

    #mob-theme-switcher {
        font-size: 0.5em;
    }

    #mobile div#drop-catalogo, #mobile div#profile-dropup {
        width: 15em;
        right: calc((100dvw - 15em)/2);
    }

    #mobile div#profile-dropup {
        padding: unset;
    }

    #mobile div#profile-dropup li {
        font-size: .5em;
    }
}

:root {
    --switch-pos-mini: .25em;
}

[data-theme="light"] {
    --sun-display: block;
    --moon-display: none;
}

[data-theme="dark"] {
    --sun-display: none;
    --moon-display: block;
}

footer {
    display: none;
}

#main-header {
    background: linear-gradient(to top right, var(--primary-100), var(--primary-200));
    padding: unset;
}

#main-header h1#logo {
    font-size: 4.5em;
    filter: invert(1);
}

#breadcrumb {
    display: none;
}

nav#menu {
    display: none;
}

#mobile {
    display: block;
    width: 100%;
    bottom: -1px;
    margin: auto;
    position: fixed;
    background: linear-gradient(to top right, var(--primary-100), var(--primary-200));}

#mobile ul {
    padding: 0.8em 0;
    margin: auto;
    text-align: center;
    width: 100%;
}

#mobile li {
    display: inline-block;
    padding: 0 1.5em;
}

div#presentation {
    height: 85dvh;
}

#presentation .title {
    font-size: 2em;
}

#presentation .subtitle {
    font-size: 1em;
}

#info .info-p {
    font-size: 1.5em;
    margin: auto;
    padding: 1em;
}

#examples .title, #about .title, #review .title {
    font-size: 2em;
}

#examples .examples-col {
    width: 15em;
}

#last {
    padding: 4em 0 6em 0;
    gap: 2em;
}

#last div {
    width: 70%;
}

#button {
    margin: auto;
}

#deflist {
    padding-bottom: 5em;
}

.dropdown {
    width: 70%;
}

#contact-info {
    padding-top: 2em;
}

.sk-ww-google-reviews {
    padding-bottom: 4em;
}

#form-container {
    width: unset;
    margin: 5em 1em;
    padding: 1em;
}

#form-container p {
    padding: 0 1em;
}

#form-container h2 {
    font-size: 1.5em;
}

#info .info-title {
    font-size: 1.8em;
}

#mobile {
    z-index: 999;
}

#mobile .dropup-list {
    position: fixed;
    z-index: 999;
    background-color: var(--bg-100);
    border-radius: 2px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15), inset -1px -1px 2px rgba(0, 0, 0, 0.15);
    padding: 1em;
}

#mobile #drop-catalogo, #mobile #profile-dropup {
    width: 20em;
    margin: auto;
    bottom: 35dvh;
    right: calc((100dvw - 20em)/2);
}

#mobile #drop-catalogo li {
    width: 40%;
    padding: 0.5em;
    background-color: var(--primary-200);
    display: inline-block;
    text-align: center;
}

#mobile #profile-dropup li {
    width: 100%;
    padding: 1em;
    margin: 0.5em auto;
    background-color: var(--primary-200);
    align-items: center;
}

#mobile #drop-catalogo ul {
    padding: 2em;
    display: flex;
    justify-content: space-evenly;
}

#mobile #profile-dropup ul {
    padding: 2em;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#mobile .dropup-list a {
    margin: auto;
    width: 100%;
    text-align: center;
}

#mobile .dropup-list a svg {
    vertical-align: middle;
}

#mobile .dropup-list p {
    text-align: center;
    margin: auto;
    padding: 2em 0 1em;
    font-size: 1.5em;
}

.obscured {
    filter: blur(5px);
    position: fixed;
}

#mob-theme-switcher {
    background-color: var(--bg-100);
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: .5em;
    position: relative;
    gap: 1em;
}

#mob-theme-switcher::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: var(--switch-bg-icon);
    border-radius: 50%;
    z-index: 0;
    left: 0;
    transform: translateX(var(--switch-pos-mini));
}

#mob-theme-switcher svg {
    z-index: 1;
}

#mob-theme-switcher #mobsun {
    fill: var(--icon-sun);
    display: var(--sun-display);
}

#mob-theme-switcher #mobmoon {
    fill: var(--icon-moon);
    display: var(--moon-display);
}

main#login-main {
    height: unset;
}

#login-main .container {
    width: 90%;
    height: unset;
    flex-direction: column-reverse;
    background-color: var(--bg-100);
}

.login-logo {
    display: none;
}

.login-link {
    width: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 1em 2em -0.9em rgba(0, 0, 0, 0.7);
    margin-bottom: 1em;
}

.button-container {
    flex-wrap: wrap;
}

.side-heading {
    padding-top: 1em;
}

.big-h {
    text-align: center;
    font-size: 1.5em;
}

.text-fields {
    width: 100%;
    margin: 0.5em auto;
}

.text-fields label {
    margin: auto;
    width: 50%;
    background-color: var(--bg-100);
}

.text-fields input {
    font-size: 1em;
    padding: .5em;
    color: var(--text1-login);
}

.gender #gender {
    background-color: var(--bg-100);
    padding: .5em;
}

.signup-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    margin: unset;
}

.product-display {
    flex-direction: column;
}

.product-image {
    height: unset;
    width: 40%;
}

.capsule {
    border: none;
    padding: unset;
    width: 80%;
    margin-bottom: 0;
}

.capsule dt, .capsule label {
    font-size: 1.2em;
}

#accessories, #addToCart {
    font-size: 1em;
    padding: 0.3em;
}

.capsule #product-buttons {
    display: flex;
    justify-content: center;
}

#product .container {
    margin-bottom: 5em;
}

.sidenav {
    display: none;
}

.info-container {
    flex-direction: column;
}

.info-container .text-fields {
    width: 100%;
}

.info-container .text-fields.email {
    width: 100%;
}

#profilePage .fieldProfile legend {
    margin: auto;
    font-size: 1.3em;
    padding-top: 2em;
    padding-bottom: 0;
}

#profilePage fieldset.fieldProfile .page-btns {
    margin-bottom: 5em;
}

#profileDiv {
    height: unset;
}

#profileDiv #profilePage .text-fields label {
    width: 10em;
}

.card {
    display: flex;
    flex-direction: column;
    height: unset;
    width: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--bg-100);
    border-width: 1px;
    box-shadow: 0 1em 2em -0.9em rgba(0, 0, 0, 0.7);
    padding: 1em 0;
}

#paymentMethod .card-number {
    font-size: 1.2em;
    margin-bottom: 1em;
    margin-top: 0.3em;
    width: 100%;
    text-align: center;
    padding-bottom: .2em;
}

#paymentMethod .container2 div {
    display: block;
    width: 100%;
}

.name {
    padding: 0;
    margin: 0;
    position: unset;
    display: block;
}

.expiration-date {
    padding: 0;
    margin: 0;
    position: relative;
    display: block;
}

.ccv {
    margin: 0;
    padding: 0;
    display: block;
}

.card input {
    width: 100%;
    margin: auto;
    border-bottom: 1px solid var(--text1-login);
}

#paymentMethod .card label {
    color: var(--text1-login);
    width: 100%;
    padding: .5em 0;
    text-align: center;
}

input.card-name {
    color: var(--background-link);
    width: 100%;
    border-bottom: 1px solid var(--cardPlaceholder);
    color: var(--cardLabel);
}

#paymentMethod .card-container {
    width: 100%;
    height: unset;
}

#detail {
    color: var(--primary-200);
    width: 100%;
    font-size: 1.3em;
    padding: 0.8em;
}