* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 12pt;
    font-family: "Times New Roman", Times, serif;
    line-height: 1.5em;
    margin: auto;
}

/***********************************

                HOME

***********************************/
/*Logo in header*/
#logo {
    content: url("../../assets/images/logoNoBg.png");
    width: 5cm;
    height: 4cm;
    margin: auto;
    margin-bottom: -20%;
}

[data-theme="dark"] #logo {
    filter: invert(1);
}

#menu,
#trigger1,
#trigger2 {
    display: none;
}

/*Breadcrumb*/
#breadcrumb {
    padding: 0.5em 0 0.5em 0;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    font-weight: bold;
}

#breadcrumb p {
    margin-left: 0.5em;
}

#presentation {
    display: none;
}

/*Seconda sezione*/
#info {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

dl .info-col {
    text-align: center;
    width: 25%;
    /* height: 25%; */
    padding: 1.5em 1.5em;
    background-color: var(--bgDiv);
    border-radius: 10%;
    /* Ombra interna */
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15), inset -1px -1px 2px rgba(0, 0, 0, 0.15);
}

#info .icon {
    width: 15%;
    height: 15%;
}

.info-col dd {
    text-align: center;
    color: var(--text-100);

}

.info-col dt {
    font-weight: bold;
    color: var(--text-100);
}

#info dl {
    display: flex;
    justify-content: space-evenly;
}

#info #info-p {
    display: flex;
    justify-content: center;
    margin: 1em;
}

#examples {
    display: none;
}

/*Quarta sezione, Azienda*/
#about {
    margin: 0.5em;
}

.title {
    padding: 1em 0;
}

/*Quinta sezione, recensioni clienti*/
#review {
    display: none;
}

/*Sesta sezione*/
#last {
    display: none;
}

/*Footer, aggiungo anche contatto*/
footer {
    margin-top: 10%;
    background: linear-gradient(to right, var(--primaryGradient), var(--secondaryGradient));
}

#icons {
    margin: auto;
}

#icons ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

#icons li {
    text-align: center;
    margin: auto;
}

#icons li svg {
    width: 1cm;
}


footer .icon {
    width: 15%;
    height: 15%;
}


#footdef {
    display: none;
}

footer #footunor {
    text-align: center;
}

footer ul#footunor {
    margin-top: 2%;
}

footer ul#footunor li {
    display: inline;
    margin: auto;
    padding: auto;
}

footer ul#footunor li {
    color: var(--primaryText);
}

#rights {
    display: block;
}

#mobile-footer {
    display: none;
}

/***********************************

              CONTACTS

***********************************/

#info p {
    display: none;
}

#contact-info .info-col {
    display: inline;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#icons-list a {
    margin-top: 4em;
}

#icons-list {
    justify-content: center;
    list-style-type: none;
    display: flex;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 2em;
    padding-left: 6em;
}

#icons-list li {
    padding: 0em 3em;
}

#icons-list .icon {
    width: 1.5cm;
    height: 1.5cm;
    margin-left: 4em;
}

#icons-contacts {
    display: none;
}

.info-col h4 {
    padding-top: 6%;
}

#hours {
    list-style-type: none;
    padding: 0;
}

.info-col #cTitle {
    display: none;
}

.contact-link {
    height: auto;
    width: 45%;
}

#text-mail {
    visibility: hidden;
}

#text-mail::after {
    white-space: nowrap;
    visibility: visible;
    content: "tecweb2023@gmail.com";
}

#text-tel {
    visibility: hidden;
}

#text-tel::after {
    visibility: visible;
    content: "+39 1234567890";
    white-space: nowrap;
}

#text-ds {
    visibility: hidden;
}

#text-ds::after {
    visibility: visible;
    content: "link discord";
    white-space: nowrap;
}

#whs {
    visibility: hidden;
}

/****** FORM CONTATTI *******/

#problems {
    display: none;
}



.info-title {
    font-size: 2em;
    padding-top: 1em;
}

.star {
    display: none;
}

#form-container {
    margin: 5em auto;
    width: 50em;
    background-color: var(--primaryText);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 0 4em;
}

#form-container h2,
#form-container p {
    text-align: center;
    padding: 1.5em 0 1em 0;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: none;
    padding: 2em 0;
    border-bottom: 1px solid var(--text-100);
}

#contact-form label {
    width: 20em;
    height: 2em;
    text-align: center;
    margin: auto;
    padding: 1em 0;
}



#contact-form input,
#contact-form select {
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 2em;
    border-radius: 10px;
    border: 1px solid var(--input-bg);
    background-color: var(--input-bg);
    color: var(--text-100);
    resize: none;
}

#contact-form input::placeholder {
    color: var(--text-100);
    text-align: center;
    font-size: 1em;
}

#contact-form input:focus::placeholder,
#contact-form textarea:focus::placeholder {
    color: transparent;
}

#contact-form select {
    border: 1px solid var(--input-bg);
    background-color: var(--input-bg);
    color: var(--text-100);
}


#text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#additional-info {
    text-align: center;
    width: 100%;
}

#additional {
    width: 80%;
    border-radius: 10px;
    /* border: 1px solid var(--input-bg); */
    border: 1px solid;
    background-color: var(--input-bg);
    color: var(--text-100);
    resize: none;
    margin: auto;


}

#contact-form textarea::placeholder {
    color: var(--text-100);
    text-align: center;
    padding: .5em;
}

#contact-form input[type="file"] {
    background-color: transparent;
    border: none;
    border-radius: 0px;
}

#contact-form input:focus:not(input[type="file"]),
#contact-form textarea:focus {
    outline: none;
    border: 1px solid var(--primaryGradient);
}

fieldset:last-of-type {
    border: none;
    display: block;
    margin: auto;
    padding-top: 1em;
}

#tos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 1.5em 0;
}

#contact-form input[type="checkbox"] {
    display: inline;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    margin: auto;
    border: none;
    background-color: var(--input-bg);
    cursor: pointer;
}

#contact-form input[type="checkbox"]:focus {
    outline: none;
}

#contact-form input[type="submit"] {
    width: 10em;
    height: 3em;
    border-radius: 10px;
    border: none;
    background-color: var(--primaryGradient);
    color: var(--primaryText);
    font-size: 1em;
    cursor: pointer;
}

#order-category {
    margin-bottom: 20em;
}

#personal,
#order-category,
#personal-contacts,
#text,
#additional-info,
#termini {
    padding: .6em;
}

#file-label {
    display: none;
}

#submit-form {
    display: none;
}


/***********************************

              PRIVACY

***********************************/

.heading {
    margin-top: 2%;
}



/***********************************

              LOGIN

***********************************/


main#login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    background-color: var(--loginBg);
}

.logo {
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

#login-logo {
    width: 100%;
}

.container {
    width: 80%;
    display: flex;
    margin: 3% auto;
    height: 40em;
    border-radius: 10px;
    background-color: var(--white);
}

.login-link {
    background-color: var(--background-link);
    width: 30%;
    padding: .5em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;

}

.signup-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.side-big-heading {
    font-weight: 800;
    font-size: 1.2em;
    text-align: center;
    width: 70%;
    padding: auto;
    margin: 2em auto;
    color: var(--textP-login);
}

.primary-bg-text {
    display: none;
}

a.login-btn {
    text-decoration: none;
    color: var(--textP-login);
    width: 80%;
    display: inline-block;
    margin: 2em auto;
    font-size: 1em;
    text-align: center;
    border: 2px solid var(--loginBg);
    border-radius: 10px;
    padding: 3% 0;
}

.signup-container h1 {
    margin: 1em auto;
}

.big-h {
    font-weight: 900;
    font-size: 2em;
    color: var(--background-link);
    padding: 1em;
}

.progress-bar {
    display: none;
}


.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 4% 0;
}

.text-fields {
    display: flex;
    position: relative;
    align-items: center;
    border: 1px solid var(--border);
    padding: 2%;
    margin: auto;
    width: 45%;
    border-radius: 10px;
}

.text-fields label {
    position: absolute;
    width: 30%;
    background-color: var(--white);
    color: var(--background-link);
    top: -0.7em;
    text-align: center;
}

.text-fields input {
    margin: auto;
    outline: none;
    border: none;
    background: inherit;
    text-align: center;
    width: 100%;
    font-size: 1em;
    color: var(--text1-login);
}

.text-fields input:focus::placeholder {
    color: transparent;
}

.signup-content {
    width: 100%;
}


.text-fields.dob {
    position: relative;
}

.text-fields.dob label {
    width: 8em;
}

.page-btns input {
    margin: 1em auto;
    outline: none;
    border: none;
    background: inherit;
    width: 12em;
    font-size: 1em;
    color: var(--text1-login);
}

.field-heading {
    color: var(--loginSbmt);
    width: 20%;
}

#gender {
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
}

#gender:focus {
    border: 1px solid var(--background-link);
}


div.page-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#terms {
    margin: auto;
    display: inline;
}

.hidden-label {
    display: none;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

#tos {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#tosLink {
    color: var(--background-link);
    margin: 0 .5em;
}

.loginH {
    margin-top: 1.5em;
}

/**********************
        CATALOG
**********************/
#product-list {
    display: grid;
    width: 90%;
    gap: 1cm 0;
    text-align: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

#product-list .product-card {
    box-sizing: border-box;
    margin: 1cm;
    padding-bottom: 1cm;
    width: auto;
    background-color: var(--bgProduct);
    box-shadow: 0 1em 2em -0.9em rgba(0, 0, 0, 0.7);
    transition: transform 0.3 ease-in-out;
}

#product-list .product-card:hover {
    transform: scale(1.1);
}

.product-card img {
    width: 80%;
    object-fit: cover;
    height: 100px;
    margin-bottom: 1cm;
}

.product-card dt {
    color: #000;
}

/**********************
     PRODUCT PAGE
**********************/

.product-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2em 0;
    align-items: center;
}

.capsule {
    margin: 2em 0;
    width: 50%;
    padding: 1em 0 1em 2em;
    border-left: 1px solid var(--background-link);
}

.capsule dt,
.capsule label {
    font-weight: bold;
    margin: .5em;
}

.capsule label {
    margin-right: .5em;
}

#product {
    margin: -2em;
}

#product .container {
    flex-direction: column;
    height: unset;
}

#product-buttons {
    margin-top: 2em;
}

#accessories {
    margin-right: 1em;
}

#accessories,
#addToCart {
    color: var(--text-login);
    background-color: var(--bg-200);
    font-size: 1em;
    padding: 0.5em;
    text-align: center;
    border: 2px solid var(--text-login);
    border-radius: 5px;
}

#accessories:hover,
#addToCart:hover {
    background-color: var(--bg-100);

}

.product-image {
    width: 20%;
    object-fit: cover;
    height: 300px;
}

.product-name {
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1em;
}

.product-info .dd-description {
    margin: 0 1em;
}

.product-info dt:not(.product-description),
.product-info dd:not(.dd-description) {
    display: inline-block;
    margin-right: .5em;
}


/**********************
       ERROR 404
**********************/

/*PAGINA 404*/
#error404 {
    width: 80%;
    padding: 1em;
    font-size: 95px;
    text-align: center;
    color: red;
    font-family: "Prompt", sans-serif;
    /* background-color: #111111; */
}


#error {
    color: black;
    text-transform: uppercase;
}

#error404 #goHome {
    font-family: "Prompt", sans-serif;
    margin: 2em, 20em, 2em, 20em;
    text-align: center;
    font-size: .18em;
    color: black;
}

#error404 a {
    color: red;
    text-decoration: underline;
}

/********************

        CART

*********************/
#product-buttons {
    display: flex;
    justify-content: center;
}