/* Import del font utilizzato */
@font-face {
    font-family: "Prompt";
    src: url(../../assets/fonts/Prompt/Prompt-Regular.ttf);
    font-weight: normal;
    font-display: swap;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    font-family: "Prompt", sans-serif;
    transition: var(--default-transition);
}

:root {
    --default-transition: color .1s ease-in-out, background-color .3s ease-in-out, fill .1s ease-in-out,
        border-color .3s ease-in-out, transform .3s ease-in-out;
}

/* Palette chiara */
:root[data-theme="light"] {
    --primaryGradient: #3F51B5;
    /*Primo gradiente*/
    --secondaryGradient: #757de8;
    /*Secondo gradiente*/
    --primaryText: #dedeff;
    /*Testi importanti vari*/
    --primaryIconBg: #2196F3;
    --secondaryIconBG: #003f8f;
    --text-100: #333333;
    /*Testo primario*/
    --text-200: #5c5c5c;
    /*testo secondario*/
    --bg: #F9F9F9;
    --bgDiv: #f5f5f5;
    --switch-bg-icon: #ffd371;
    --muted-text: #b1b0b5;
    --icon-sun: #ee8e44;
    --icon-moon: #b7b7b7;
    --switch-pos: .25em;
}

/* Palette scura */
[data-theme="dark"] {
    --primaryGradient: #1F3A5F;
    /*primo colore gradiente*/
    --secondaryGradient: #4d648d;
    /*Secondo colore gradiente*/
    --primaryText: #acc2ef;
    /*testi importanti vari*/
    --primaryIconBG: #3D5A80;
    /*background e colore icone*/
    --secondaryIconBG: #cee8ff;
    --text-100: #F9F9F9;
    /*Testo primario*/
    --text-200: #030303;
    /*testo secondario*/
    --bg: #0F1C2E;
    --bgDiv: #1f2b3e;
    --switch-bg-icon: #081d32;
    --muted-text: #77757E;
    --icon-sun: var(--muted-text);
    --icon-moon: #b7b7b7;
    --switch-pos: 2.7em;
}

html {
    font-size: 100%;
    background-color: var(--bg);
    margin: auto;
    line-height: 1.5em;
}

header {
    padding: 1em;
    background-color: var(--primaryText);
}

/* Text replacement */
#logo {
    text-indent: -999em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../assets/images/logoNoBg.png);
    font-size: 6em;
    line-height: 1.5em;
}

nav {
    background: linear-gradient(to top right, var(--primaryGradient), var(--secondaryGradient));
    justify-content: center;
    align-items: center;
    z-index: 0;
}

a {
    text-decoration: none;
    color: var(--primaryText);
}

/* Sottolineatura al passare del mouse sopra i link */
/* nav a:hover {
    
} */

/* Sottolineatura nella navbar della pagina corrente */
/* .active {
    da fare
} */

/* Flexbox per il menù */
#menu {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

#menu li {
    margin-left: 1em;
    margin-right: 1em;
    display: inline-block;
    list-style-type: none;
}

/* #menu.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
} */

#breadcrumb {
    display: block;
}

/* Selettore per screen-reader-only */
.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    width: 1px !important;
    position: absolute !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    padding: 0 !important;
    margin: -1px !important;
}

#presentation {
    width: 100%;
    background: linear-gradient(-45deg, var(--primaryText), var(--secondaryGradient));
    height: 100vh;
}

.title {
    font-size: 2.5em;
    margin-top: auto;
    text-align: center;

}

.subtitle {
    font-size: 1.5em;
    padding-top: 1em;
    margin: auto;
    text-align: center;
}

#presentation .title {
    position: relative;
    top: 45vh;
    font-size: 3em;
}

#presentation .subtitle {
    position: relative;
    top: 45vh;
}

#info {
    width: 100%;
    margin: 5em 0;
}

.icon {
    width: 2em;
    height: 2em;
}

/* Filtro che inverte il colore delle icone */
#icons .icon {
    filter: invert(1);
}

#info-p {
    text-align: center;
    padding-top: 1em;
    margin-bottom: 2em;
    font-size: 2em;
}

#info dl {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#info dt {
    font-weight: bold;
    color: var(--text-100);
}

#info dd {
    text-align: justify;
    color: var(--text-100);
    padding: 1em;
}

.info-col {
    text-align: center;
    width: 18em;
    margin: 1em;
    padding: 1.5em 2em;
    background-color: var(--bgDiv);
    border-radius: 30px;
    /* Ombra interna */
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15), inset -1px -1px 2px rgba(0, 0, 0, 0.15);
    /* filter: drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.15)); */
}

#examples {
    width: 100%;
    margin-bottom: 5em;
    padding: 1em 0;
}

#examples .title {
    padding: 1em 0;
}

#examples dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#examples .examples-col {
    text-align: center;
    width: 18em;
    padding: 2em 2em;
    margin: 2em;
    background-color: var(--bgDiv);
    border-radius: 1%;
    color: #030303;
}

.examples-col img {
    width: 100%;
    height: auto;
    margin: auto;
}

.examples-col dt {
    font-weight: bold;
    padding-bottom: 1em;
}

.examples-col dd {
    width: 5em;
    margin: auto;
    padding: 0.5em;
}

#examples p {
    text-align: center;
    color: var(--text-100);
    padding-top: 0.5em;
    font-size: 1.2em;
    text-decoration: underline;
}

#about {
    width: 100%;
    padding: 4em 0 10em 0;
    background: linear-gradient(-45deg, var(--primaryText), var(--secondaryGradient));
    color: #030303;
}

#about .title {
    padding: 2em 0;
}

#about p {
    width: 70%;
    margin: auto;
    text-align: justify;
}

#review {
    padding: 8em 5em 5em 5em;
}

#flex-review {
    margin-top: 5em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.quote {
    width: 25em;
    /* height: 40vh; */
    background-color: var(--primaryText);
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.15));
    color: #030303;
    margin-bottom: 5em;
}

.quote-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2em 1em 0 2em;
}

.unit-left {
    width: 10%;
}

.unit-body {
    padding-left: 1em;
}

.quote-link,
.quote-name a {
    color: #030303;
}

.quote-name {
    font-size: 1.2em;
}

.quote-status {
    color: #003f8f;
}

.quote-img {
    border-radius: 50%;
    width: 100%;
}

.quote-text {
    padding: 1em 2em 2em 2em;
}

.q {
    font-size: 0.8em;
}

#last {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6em;
    padding: 3em 0 2em 0;
    background: linear-gradient(to right, var(--primaryGradient), var(--secondaryGradient));
    color: var(--bg);
    border-bottom: 1px solid #f9f9f9;
}


#last div {
    width: 30%;
    text-align: left;
}

#last .title {
    font-size: 2em;
}

#last .subtitle {
    font-size: 1em;
}

#newsletter {
    text-align: center;
}

#newsletter #form-email {
    font-size: 1em;
    width: 100%;
    padding: 2px;
}

/* NON MI PIACE QUESTO FLEX PERCHE' DOVREBBE FARSI SENZA MA NON SO PERCHE' NON MI VA 
   NE USANDO DISPLAY INLINE NE ALTRI METODI - VA RIVISTO PERCHE' LEI NON VUOLE FLEX A CASO */
#newsletter #label-form-terms {
    display: flex;
    align-items: center;
    font-size: 0.7em;
    margin-top: 0.5em;
}

#newsletter #button {
    margin-top: 0.5em;
    padding: 2px;
    width: 20%;
}

footer {
    background: linear-gradient(to right, var(--primaryGradient), var(--secondaryGradient));
}

#icons {
    padding: 1em 0 1em 2em;
}

#icons ul {
    padding-top: 1em;
}

#icons li {
    display: inline-block;
    padding-inline: 1em;
}

/* Flexbox per il footer */
footer dl#footdef {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1em;
}

footer dl#footdef div {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25%;
}

footer dl#footdef dt {
    font-weight: bolder;
}

footer dl#footdef dt {
    color: var(--primaryText)
}

#footdef dd {
    font-size: 0.8em;
}

footer ul#footunor {
    padding: 1em 0 1em 3em;
    margin-top: 2em;
    font-size: 0.8em;
}

footer ul#footunor li {
    display: inline;
    margin: auto;
    padding: auto;
}

footer ul#footunor li {
    color: var(--primaryText);
}

#rights {
    display: block;
}

#account {
    border-right: 1px solid #f9f9f9;
    border-left: 1px solid #f9f9f9;
}

#comunity {
    border-left: 1px solid #f9f9f9;
}

/* Catlog */

.spacer {
    width: 50em;
    height: 50em;
    background-color: #f9f9f9;
}

/* FAQ */

#faq {
    font-size: 2em;
    margin: 3em auto 1em;
    text-align: center;
}

.dropdown {
    /* position: relative; */
    display: block;
    width: 50%;
    margin: auto;
    padding-bottom: 1em;
    border-bottom: 2px solid #030303;
}

.dropdown:last-child {
    margin-bottom: 5em;
    border-bottom: none;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    padding: 10px;
    border-top: 1px solid #030303;
}

.question {
    cursor: pointer;
    padding: 1em;
    margin-top: 1em;
    background-color: #f9f9f9;
}

.answer {
    padding: 8px;
}

.question:hover {
    background-color: #ddd;
}


/*ToS*/

.heading {
    text-align: justify;
    width: 70%;
    margin: 2em auto;
    color: var(--text-100);
}

p.heading {
    font-style: italic;
    color: var(--text-100);
}

#deflist {
    text-align: justify;
    width: 70%;
    margin: 2em auto;
    color: var(--text-100);
    padding-bottom: 2em;
}

#deflist a {
    color: blue;
    text-decoration: underline;
}

.dl-title {
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 2em;
}

.dl-description {
    margin: .5em;
}

.int-list {
    padding-left: 1em;
    list-style: inside;
}


.intdef .dl-title {
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 1em;
}

.intdef .dl-description {
    margin: .5em;
}

.first {
    padding-top: 1em;
}

#info.info2 {
    margin-bottom: 0;
}


#foot {
    font-size: .5em;
}

#mail {
    color: var(--text-100);
}

#contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5em 5em 0 5em;
}

.info-col ul {
    font-size: 120%;
}

.info-col ul li {
    list-style: none;
}

ul#contacts .icon {
    filter: invert(0);
}

h4 {
    font-size: 130%;
    padding-bottom: 1em;
}

.info-col a {
    color: var(--text-100);
    text-decoration: underline;
}

#info p {
    text-align: center;
    font-size: 2em;
}

#contacts {
    padding-top: 1em;
}

#contacts li {
    display: inline-block;
    padding-inline: 1em;
    padding-top: 1em;
}

#icons-list .icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    padding-right: .5em;
}

#cart,
#profile {
    fill: var(--primaryText);
    z-index: 1;
}

#hours li {
    padding-top: .5em;
}

#icons-list {
    padding-top: 1em;
}

#form {
    width: 45em;
    height: 50em;
    margin: 5em;
    background-color: var(--bgDiv);
    color: var(--text-100);
    border-radius: 30px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15), inset -1px -1px 2px rgba(0, 0, 0, 0.15);
}

#form h2,
#form p {
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
}

form a {
    color: var(--text-100);
    text-decoration: underline;
}

#form h2 {
    padding: 1em;
}

#form p {
    padding-bottom: 1em;
}



.star {
    color: red;
}

#contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

input {
    display: block;
}

select {
    display: block;
    width: 130%;
}

textarea {
    display: block;
    width: 100%;
}

#additional-info,
#file-label {
    width: 90%;

}

label {
    display: block;
    margin: .5rem 0;
}

.inline {
    display: inline;
}

#submit-form {
    display: block;
    width: 60%;
    height: 2em;
    font-size: 1.1rem;
    min-width: 300px;
    background: linear-gradient(to right, var(--primaryGradient), var(--secondaryGradient));
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.input-row {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: .5em;
}

#titolo {
    text-align: center;
    font-size: 3em;
    padding-top: 1em;
}

#para {
    text-align: center;
    font-size: 1.5em;
    padding: 1em;
}

/*Theme Switcher*/
#theme-switcher {
    background-color: var(--bgDiv);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    padding: .5em;
    position: relative;
    transition: var(--default-transition);
}

#theme-switcher::before {
    content: '';
    position: absolute;
    width: 2em;
    height: 2em;
    background-color: var(--switch-bg-icon);
    border-radius: 50px;
    z-index: 0;
    left: 0;
    transform: translateX(var(--switch-pos));
    transition: var(--default-transition);
}

#theme-switcher svg {
    z-index: 1;
    transition: var(--default-transition);
}

#sun {
    fill: var(--icon-sun);
}

#moon {
    fill: var(--icon-moon);
}