/*PER PAGINA 404*/
@font-face {
    font-family: "Monoton";
    src: url(../../assets/fonts/Prompt/Monoton-Regular.ttf) format('truetype');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Prompt";
    src: url(../../assets/fonts/Prompt/Prompt-Regular.ttf) format('truetype');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}

@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
    transition: var(--default-transition);
}

/* Variabili indipendenti dalla modalità del sito */
:root {
    --default-transition: color .3s ease-in-out, background-color .3s ease-in-out, fill .3s ease-in-out,
        border-color .3s ease-in-out, transform .3s ease-in-out, linear-gradient .3s ease-in-out;
    --loginBg: #f9f9f9;
    --progessBg: #cfcfcf;
    --loginSbmt: #3F51B5;
    --text-login: #333333;
    --text1-login: #5c5c5c;
    --textP-login: #ededff;
    --white: #FFFFFF;
    --background-link: #7B4F8E;
    --border: #adacac;
    --border-radius: 1em;
    --success: #30df19;
    --error: #E94646;
    --bgProduct: #f5f3f7;
    --width: 280px;
    --height: 180px;
    --spaghetti-border: #DEA631;
    --spaghetti-bg: #EED269;

}

/* Variabili per la modalità chiara*/
:root[data-theme="light"] {
    --primary-100: #511d7e;
    --primary-200: #9a5bc4;
    --primary-300: #c38fe6;
    --accent-100: #dbc1fa;
    --accent-200: #fff4ff;
    --text-100: #3a3a3a;
    --text-200: #878787;
    --text-300: #f9f9f9;
    --bg-100: #F5F3F7;
    --bg-200: #E9E4ED;
    --bg-300: #FFFFFF;
    --bg-contacts: #ebebeb;
    --switch-bg-icon: #ffd371;
    --muted-text: #b1b0b5;
    --icon-sun: #ee8e44;
    --icon-moon: #b7b7b7;
    --switch-pos: .25em;
    --input-bg: #ffffff;
    --hover: #dedeff73;
    --smoke: #e2e2e2;
    --disabled: #f2f2f2;
    --cardBg: #0026ff;
    --cardLabel: #efefef;
    --cardPlaceholder: #cdcdcd;
    --active-link: #7B4F8E;
    --placeholder: #989898;
}

/* Variabili per la palette scura */
[data-theme="dark"] {
    --primary-100: #563763;
    --primary-200: #915ba9;
    --primary-300: #c38fe6;
    --accent-100: #5A3A6E;
    --accent-200: #897A96;
    --text-100: #EEEEEE;
    --text-200: #FDEBED;
    --text-300: #f9f9f9;
    --bg-100: #222831;
    --bg-200: #393E46;
    --bg-300: #454e59;
    --bg-contacts: #353e4b;
    --switch-bg-icon: #081d32;
    --muted-text: #a3a1ac;
    --icon-sun: var(--muted-text);
    --hover: #dedeff73;
    --icon-moon: #b7b7b7;
    --switch-pos: 2.7em;
    --input-bg: #6B6E73;
    --active-link: #bc8cd0;
    --placeholder: #cdcdcd;
}

html {
    font-size: 100%;
    background-color: var(--bg-100);
    margin: auto;
    line-height: 1.5em;
    width: 100%;
}

main {
    width: 100%;
}

/*Shake icona carrello quando aggiungi prodotti */
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-50px) rotate(-50deg);
    }

    50% {
        transform: translateX(50px) rotate(50deg);
    }

    75% {
        transform: translateX(-50px) rotate(-50deg);
    }

    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.5s ease-in-out;
}

#main-header {
    background-color: var(--bg-100);

}

/* Text replacement */
#logo {
    text-indent: -999em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../assets/images/logoNoBg.png);
    font-size: 5em;
    line-height: 1.5em;
}

[data-theme="dark"] #logo {
    filter: invert(1);
}

#menu {
    background: linear-gradient(to top, var(--primary-100), var(--primary-200));
    justify-content: center;
    align-items: center;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--text-300);
}

a {
    text-decoration: underline;
    color: var(--text-300);
}

abbr {
    text-decoration: none;
}

#menu {
    position: sticky;
    top: 0;
    z-index: 999;
}

#menu a {
    text-decoration: none;
}

/* posizionamento switch */
nav#menu .switch {
    padding-right: 2em;
    padding-left: 1em;
}

nav#menu a {
    text-decoration: none;
}

#left li {
    font-size: 1.2em;
    text-transform: uppercase;
}

/* spaziatura uguale */
#left li:nth-child(3) {
    padding-left: unset;
}

#left {
    padding-left: 3em;
    display: flex;
    justify-content: space-around;
}

#right {
    padding-right: 3em;
}

/* navbar mobile non visibile */
#mobile {
    display: none;
}

#left p {
    padding: .5em 0 1em;
}

#right p {
    padding: 1em 0;
}

#menu li {
    display: inline-block;
    list-style-type: none;
    position: relative;
    color: var(--primaryText);
    padding: 0 1em;
}

#menu li a:not(ul.dropdown-list a) {
    display: block;
    margin: 1em 0;
}

/*DROPDOWN*/
.hidden {
    display: none !important;
    /*Usato important di modo che quando viene aggiunta classe show o hidden da js, non venga sovrascritta da classi con maggior specificità*/
}

.show {
    display: block !important;
}

#menu ul.dropdown-list li {
    width: 7em;
    display: block;
    text-align: center;
    font-size: 1em;
    padding: .5em;
}

#menu ul.dropdown-list li:hover {
    background-color: var(--hover);
}

#menu ul.dropdown-list {
    position: absolute;
    z-index: 999;
    background-color: var(--primary-100);
    display: none;
}

#menu .dropdown-list {
    left: -1em;
    top: 3.4em;
}

#menu .dropdown-list#profile-drop {
    left: -4em;
    top: 4.2em;
}

#menu .dropdown-list#profile-drop li {
    width: 15em;
}

#dropdown-icon {
    position: relative;
    top: .6em;
}

ul.dropdown-list a {
    display: block;

}

ul li:hover ul.dropdown-list {
    display: block !important;
    /*DA RIVEDERE*/
}

nav svg:not(.signup, #sun, #moon) {
    fill: var(--text-300);
}

.logout {
    transform: scaleX(-1);
}

#breadcrumb {
    display: block;
    padding: 0.5em;
    margin-left: 1em;
    color: var(--text-100);
    background-color: var(--bg-100);
}

#breadcrumb a {
    color: var(--active-link);
    font-weight: 900;
    text-decoration: underline;
}

#profile-drop a svg {
    display: inline;
    vertical-align: middle;
    margin-right: 8px;
}

.float {
    padding-top: 6em;
}

.signup path{
    stroke: var(--text-300);
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* index */

#presentation {
    width: 100%;
    background: linear-gradient(-45deg, var(--accent-100), var(--accent-200));
    height: 80dvh;
}

.title {
    font-size: 2.5em;
    margin-top: auto;
    text-align: center;
    color: var(--text-100)
}

.subtitle {
    font-size: 1.5em;
    padding-top: 1em;
    margin: auto;
    text-align: center;
    color: var(--text-100);
}

#presentation .title {
    position: relative;
    top: 30dvh;
    font-size: 5em;
    text-transform: uppercase;
}

#presentation .subtitle {
    position: relative;
    top: 30dvh;
    font-size: 2em;
}

#info {
    width: 100%;
    margin: 2em 0 5em;
}

.icon {
    width: 2em;
    height: 2em;
    fill: var(--text-100)
}

.info-p {
    text-align: center;
    padding-top: 2em;
    margin-bottom: 2em;
    font-size: 2em;
    color: var(--text-100)
}

#ref-rew {
    font-size: 1em;
    color: var(--primary-200);
}

#info dl {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#info dt {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--text-100);
}

#info dd {
    text-align: center;
    font-size: 1.2em;
    color: var(--text-100);
    padding: 1em;
}

.info-col {
    text-align: center;
    width: 18em;
    margin: 1em;
    padding: 1.5em 2em;
    background-color: var(--accent-100);
    box-shadow: 0 1em 2em -0.9em rgba(0, 0, 0, 0.7);
}

#examples {
    width: 100%;
    margin-bottom: 5em;
    padding: 1em 0;
    text-align: center;
}

#examples .video-container {
    margin: 3em;
    display: inline-block;
    width: 20em;
}

#examples .video-container video {
    width: 100%;
}

#examples .title {
    padding: 1em 0;
}

#about {
    width: 100%;
    padding: 4em 0 10em 0;
    /* background: linear-gradient(-45deg, var(--accent-100), var(--accent-200)); */
    background-color: var(--accent-100);
    color: var(--text-100);
}

#about .title {
    padding: 2em 0;
}

#about p {
    width: 70%;
    margin: auto;
    text-align: center;
    padding-bottom: 1em;
    font-size: 20px;
    line-height: 2em;
}

#last {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6em;
    padding: 3em 0 2em 0;
    background: linear-gradient(45deg, var(--primary-100), var(--primary-200));
    color: var(--text-300);
    border-bottom: 1px solid var(--text-300);
}


#last div {
    width: 30%;
    text-align: left;
}

#last .title {
    font-size: 2em;
    color: var(--text-300);
}

#last .subtitle {
    font-size: 1em;
    color: var(--text-300);
}

#newsletter {
    text-align: center;
}

#newsletter #form-email {
    font-size: 1em;
    width: 100%;
    padding: 2px;
}

/* NON MI PIACE QUESTO FLEX PERCHE' DOVREBBE FARSI SENZA MA NON SO PERCHE' NON MI VA 
   NE USANDO DISPLAY INLINE NE ALTRI METODI - VA RIVISTO PERCHE' LEI NON VUOLE FLEX A CASO */
#newsletter #label-form-terms {
    display: flex;
    align-items: center;
    font-size: 0.7em;
    margin-top: 0.5em;
}

#newsletter #button {
    margin-top: 0.5em;
    padding: 2px;
    width: 20%;
}

footer {
    background: linear-gradient(to right, var(--primary-100), var(--primary-200));
}

#icons {
    padding: 1em 0 1em 2em;
}

#icons ul {
    padding-top: 1em;
}

#icons li {
    display: inline-block;
    padding-inline: 1em;
}

#icons .icon {
    fill: var(--text-300);
}

/* Flexbox per il footer */
footer dl#footdef {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1em;
}

footer dl#footdef div {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25%;
}

footer dl#footdef dt {
    font-weight: bolder;
}

#footdef dd {
    font-size: 0.8em;
}

footer ul#footunor {
    padding: 1em 0 1em 3em;
    margin-top: 2em;
    font-size: 0.8em;
}

footer ul#footunor li {
    display: inline;
    margin: auto;
    padding: auto;
}

#rights {
    display: block;
}

#account {
    border-right: 1px solid #f9f9f9;
    border-left: 1px solid #f9f9f9;
}

#comunity {
    border-left: 1px solid #f9f9f9;
}

#mobile-footer {
    display: none;
}

footer li,
footer dd,
footer dt {
    color: var(--text-300);
}

/* Review */

#review {
    padding: 3em;
}

/* FAQ */

#faq {
    font-size: 2em;
    margin: 3em auto 1em;
    text-align: center;
}

.dropdown {
    width: 50%;
    margin: auto;
    padding-bottom: 1em;
    border-bottom: 2px solid #030303;
}

.dropdown:last-child {
    margin-bottom: 5em;
    border-bottom: none;
}

.question {
    cursor: pointer;
    padding: 1em;
    margin-top: 1em;
    background-color: #f9f9f9;
}

.question:hover {
    background-color: #ddd;
}


/*ToS*/

.heading {
    text-align: justify;
    width: 70%;
    margin: 2em auto;
    color: var(--text-100);
}

p.heading {
    font-style: italic;
    color: var(--text-100);
}

#deflist {
    text-align: justify;
    width: 70%;
    margin: 2em auto;
    color: var(--text-100);
    padding-bottom: 2em;
}

#deflist a {
    color: var(--active-link);
    text-decoration: underline;
}

.dl-title {
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 2em;
}

.dl-description {
    margin: .5em;
}

.int-list {
    padding-left: 1em;
    justify-content: left;
}


.intdef .dl-title {
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 1em;
}

.intdef .dl-description {
    margin: .5em;
}

.first {
    padding-top: 1em;
}

#foot {
    font-size: .5em;
}

/*CONTACTS*/

#contact-info .info-col {
    background-color: var(--accent-100);
    box-shadow: 0 0.5em 1em -0.4em rgba(0, 0, 0, 0.7);
}

#contact-info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5em 5em 0 5em;
}

.info-col ul {
    font-size: 120%;
}

.info-col ul li {
    list-style: none;
    color: var(--text-100)
}

.info-col h4 {
    font-size: 130%;
    padding-bottom: 1em;
    color: var(--text-100);
}

.info-col h2 {
    font-size: 150%;
    padding-bottom: 1em;
    color: var(--text-100);

}

.info-col a {
    color: var(--text-100);
    text-decoration: underline;
}

#info p {
    text-align: center;
    font-size: 2em;
}

#contacts {
    padding-top: 1em;
}

#contacts li {
    display: inline-block;
    padding-inline: 1em;
    padding-top: 1em;
}

#icons-list .icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    padding-right: .5em;
    fill: var(--text-100);
}

#hours li {
    padding-top: .5em;
}

#icons-list {
    padding-top: 1.5em;
}

/*contact form*/

.info-title {
    font-size: 2em;
    padding-top: 1em;
}

.star {
    color: red;
}

#form-container {
    margin: 5em auto;
    width: 60%;
    background-color: var(--bg-contacts);
    box-shadow: 0 0.5em 1em -0.4em rgba(0, 0, 0, 0.7);
    padding: 0 4em;
}

#form-container h2,
#form-container p {
    text-align: center;
    padding: 1.5em 0 1em 0;
    color: var(--text-100);
}

#contact-form fieldset {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: none;
    padding: 2em 0;
    border-bottom: 1px solid var(--text-100);
}

#contact-form label {
    width: 20em;
    text-align: center;
    margin: auto;
    padding: 1em 0;
    color: var(--text-100);
    font-size: 1.2em;
}

#contact-form a {
    color: var(--text-100);
    text-decoration: underline;

}

#contact-form input,
#contact-form select {
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 2em;
    border-radius: 2px;
    border: 1px solid var(--input-bg);
    background-color: var(--input-bg);
    color: var(--text-100);
    resize: none;
}

#contact-form input::placeholder {
    color: var(--text-200);
    text-align: center;
    font-size: 1em;
}

#contact-form input:focus::placeholder,
#contact-form textarea:focus::placeholder {
    color: transparent;
}

#contact-form select {
    border: 1px solid var(--input-bg);
    background-color: var(--input-bg);
    color: var(--text-100);
}

#text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#additional-info {
    text-align: center;
    width: 100%;
}

#additional {
    width: 80%;
    border-radius: 2px;
    border: 1px solid var(--input-bg);
    background-color: var(--input-bg);
    color: var(--text-100);
    resize: none;
    margin: auto;
    padding: 1em;
}

#contact-form textarea::placeholder {
    color: var(--text-100);
    text-align: center;
    padding: .5em;
}

#contact-form input[type="file"] {
    background-color: transparent;
    border: none;
}

#contact-form input:focus:not(input[type="file"]),
#contact-form textarea:focus {
    outline: none;
    border: 1px solid var(--primary-100);
}

fieldset#termini {
    border-bottom: unset;
    display: block;
    margin: auto;
    padding-top: 1em;
}

#tos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 1.5em 0;
}

#contact-form input[type="checkbox"] {
    display: inline;
    align-items: center;
    justify-content: center;
    width: 1em;
    margin: unset;
    padding: 1em;
    border: none;
    background-color: var(--input-bg);
    cursor: pointer;
}

#contact-form input[type="checkbox"]:focus {
    outline: none;
}

#contact-form input[type="submit"] {
    width: 10em;
    height: 3em;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-300);
    color: var(--text-100);
    font-size: 1em;
    cursor: pointer;
    margin: auto;
}

#contact-form input[type="submit"]:hover {
    background-color: var(--accent-100);
}

/*Theme Switcher*/
#theme-switcher {
    background-color: var(--bg-100);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    padding: .5em;
    position: relative;
    transition: var(--default-transition);
}

#theme-switcher::before {
    content: '';
    position: absolute;
    width: 2em;
    height: 2em;
    background-color: var(--switch-bg-icon);
    border-radius: 50px;
    z-index: 0;
    left: 0;
    transform: translateX(var(--switch-pos));
    transition: var(--default-transition);
}

#theme-switcher svg {
    z-index: 1;
    transition: var(--default-transition);
}

#sun {
    fill: var(--icon-sun);
}

#moon {
    fill: var(--icon-moon);
}

/*COOKIE POPUP*/

.cookie-container {
    width: 100%;
}

.cookie-subcontainer {
    width: 85%;
    margin: auto;
    text-align: center;
}

#cookie-header {
    width: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cookie-icon {
    width: 2em;
    fill: transparent;
    stroke: var(--text-100);
}

#cookie-link {
    color: var(--background-link);
}

#cookie-desc {
    text-align: left;
    padding: .5em 0;
}

#cookie-section {
    width: 20em;
    padding: 2em;
    position: fixed;
    bottom: 1em;
    left: 2em;
    background-color: var(--bgProduct);
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    border-radius: 15px;
}

.btn {
    width: 100%;
    margin: auto;
}

.cookie-btn {
    display: inline;
    padding: .5em;
    border-radius: 10px;
    background-color: var(--primary-100);
    color: var(--text-300);
    cursor: pointer;
}


/*LOGIN*/

main#login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--loginBg);
}

.login-logo {
    width: 15em;
    margin: auto;
}

#login-logo {
    width: 100%;
    filter: invert(.9);
}

.container {
    width: 80%;
    display: flex;
    margin: 3% auto;
    height: 40em;
    box-shadow: 0 12px 18px rgba(54, 176, 138, .05);
    border-radius: 10px;
    background-color: var(--white);
}

fieldset#stage1,
fieldset#stage2,
fieldset#stage3 {
    padding: 0;
    border: none;
}

.stage1-content,
.stage2-content,
.stage3-content {
    width: 100%;

}

.container svg {
    fill: var(--text1-login);
}

.login-link {
    background-color: var(--background-link);
    width: 30%;
    padding: .5em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.signup-container {
    margin: auto;
    width: 70%;
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-heading {
    font-weight: 800;
    font-size: 1.5em;
    text-align: center;
    width: 80%;
    margin: .5em auto;
    color: var(--textP-login);
}

.login-side-text {
    color: var(--textP-login);
    font-weight: 500;
    text-align: center;
}

a.login-btn {
    text-decoration: none;
    color: var(--textP-login);
    width: 80%;
    display: inline-block;
    margin: 3em 2em;
    font-size: 1em;
    text-align: center;
    border: 2px solid var(--loginBg);
    border-radius: 10px;
    padding: 3% 0;
}

a.login-btn:hover {
    background-color: var(--loginBg);
    color: var(--background-link);
}

.big-h {
    font-weight: 900;
    font-size: 2em;
    color: var(--background-link);
    padding: 1em;
}

.progress-bar {
    margin: 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.progress-bar .stage {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progress-bar .tool-tip {
    color: var(--background-link);
    font-weight: 600;
    font-size: 1.2em;
}

.stageno {
    display: flex;
    margin: 1em;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 9999px;
    background-color: var(--progessBg);
}


.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 4% 0;
}

.text-fields {
    display: flex;
    position: relative;
    align-items: center;
    border: 2px solid var(--primary-100);
    padding: 2%;
    border: 2px solid var(--primary-100);
    margin: auto;
    width: 45%;
    border-radius: 10px;
}

.text-fields label {
    position: absolute;
    width: 30%;
    background-color: var(--white);
    color: var(--background-link);
    top: -0.7em;
    text-align: center;
}

.text-fields input {
    margin: auto;
    outline: none;
    border: none;
    background: inherit;
    text-align: center;
    width: 100%;
    font-size: 1em;
    color: var(--text1-login);
}

.text-fields input:focus::placeholder {
    color: transparent;
}

.signup-content {
    width: 100%;
}


.text-fields.dob {
    position: relative;
}

.text-fields.dob label {
    width: 8em;
}

.page-btns input {
    margin: 1em auto;
    outline: none;
    border: none;
    background: inherit;
    width: 12em;
    font-size: 1em;
    color: var(--text1-login);
}

.field-heading {
    color: var(--loginSbmt);
    width: 20%;
}

#gender {
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
}

#gender:focus {
    border: 1px solid var(--background-link);
    width: 100%;
}


div.page-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-btns input.next,
.page-btns input.previous {
    background-color: var(--background-link);
    color: var(--textP-login);
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 2%;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
}

input.next:hover,
input.previous:hover {
    background-color: var(--loginBg);
    color: var(--background-link);
    outline: 1px solid var(--background-link);
    border: 1px solid var(--background-link);
}

input.next:focus,
input.previous:focus {
    background-color: var(--loginBg);
    color: var(--background-link);
    outline: 1px solid var(--background-link);
    border: 1px solid var(--background-link);
}

.completed {
    background-color: var(--background-link);
    color: var(--textP-login);
    display: flex;
    margin: 1em;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 9999px;
}

#tosLink {
    color: var(--background-link);
    margin: 0 .5em;
}

.loginH {
    margin-top: 1.5em;
}

.link-to-home {
    text-align: center;
    color: var(--textP-login);
}

.link-to-home a {
    color: var(--textP-login);
    text-decoration: underline;
    font-weight: 500;
}

/*PRODUCT PAGE*/
.product-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2em 0;
    align-items: center;
}

.capsule {
    margin: 2em 0;
    width: 50%;
    padding: 1em 0 1em 2em;
    border-left: 1px solid var(--background-link);
}

.capsule dt,
.capsule label {
    font-weight: bold;
    margin: .5em;
}

.capsule label {
    margin-right: .5em;
}

#product .container {
    flex-direction: column;
    height: unset;
}

#product-buttons {
    margin-top: 2em;
}

#accessories {
    margin-right: 1em;
}

#accessories,
#addToCart {
    color: var(--text-100);
    background-color: var(--bg-300);
    font-size: 1em;
    padding: 0.5em;
    text-align: center;
    border: 2px solid var(--text-100);
    border-radius: 5px;
}

#accessories:hover,
#addToCart:hover {
    background-color: var(--bg-100);

}

.product-image {
    width: 20%;
    object-fit: cover;
    height: 300px;
}

.product-name {
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1em;
}

.product-info .dd-description {
    margin: 0 1em;
}

.product-info dt:not(.product-description),
.product-info dd:not(.dd-description) {
    display: inline-block;
    margin-right: .5em;
}

.qty-container,
.qty-dt {
    display: inline-block;
}

#qty {
    width: 2em;
    height: 2em;
    text-align: center;
    border-radius: none;
    border-top: 1px solid var(--text-100);
    border-bottom: 1px solid var(--text-100);
    margin: unset;
    padding: unset;
}

.qty-input {
    display: flex;
}

#minus,
#add {
    width: 2em;
    border: 1px solid var(--text-100);
}

#minus {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#add {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#minus,
#add,
#qty {
    background-color: var(--bg-300);
    outline: none;
    color: var(--text-100);
}

/*CATALOG*/

#product-list {
    display: grid;
    width: 80%;
    margin: 5em auto;
    text-align: center;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#product-list .product-card {
    box-sizing: border-box;
    margin: 1em;
    padding-bottom: 1em;
    width: auto;
    background-color: var(--bgProduct);
    box-shadow: 0 1em 2em -0.9em rgba(0, 0, 0, 0.7);
    transition: transform 0.3 ease-in-out;
}

#product-list .product-card:hover {
    transform: scale(1.1);
}

.product-card img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    margin-bottom: 1em;
}

.product-card dt {
    color: #000;
}

/*****
PROFILE
*****/

#profileDiv {
    height: calc(100dvh - 15em);
    display: flex;
    justify-content: center;
    width: 100%;
}

nav.sidenav {
    width: 30%;
    background: linear-gradient(to bottom, var(--primary-100) 30%, var(--primary-200));
    position: sticky;
    /* max-height: 100svh; */
    top: 0;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    gap: 2em;
    padding-block: 2em;
    font: 2em;
}

.nav-list li {
    padding: 1em 2em;
    width: 100%;
    font-size: 1.2em;
}

.nav-list li a {
    display: block;
    width: 100%;
    height: 100%;
}

.sidenav li.active {
    /* view-transition-name: activeNavTab; */
    background-color: var(--bg-100);
    border-left: 10px solid var(--primary-200);
    position: relative;
}

/* ::view-transition-group(activeNavTab) {
    animation-duration: 1.5s;
} */

.nav-list li.active a {
    color: var(--active-link);
}

.nav-list li.active::before,
.nav-list li.active::after {
    content: '';
    position: absolute;
    height: var(--border-radius);
    width: var(--border-radius);
    right: 0;
    background-color: transparent;
}

.nav-list li.active::before {
    border-radius: 0 0 100vh 0;
    box-shadow: 5px 5px 0 5px var(--bg-100);
    top: calc(var(--border-radius) * -1);
    /*lo sposta proprio fuori la li*/
}

.nav-list li.active::after {
    bottom: calc(var(--border-radius) * -1);
    border-radius: 0 100vh 0 0;
    box-shadow: 5px -5px 0 5px var(--bg-100);
}

#profilePage {
    width: 100%;
}


fieldset.fieldProfile {
    height: 100%;
    border: unset;
    background-color: var(--bg-100);
    padding: unset;
}

.fieldProfile label {
    color: var(--text-100);
    background-color: var(--bg-100);

}

input.dataHolder {
    color: var(--text-100);
}

.fieldProfile input::placeholder {
    color: var(--placeholder);
}

.fieldProfile #email:hover {
    cursor: not-allowed;
}

.fieldProfile .card-container input:hover {
    cursor: not-allowed;
}


#genderSelector {
    width: 30%;
    margin: auto;
    display: block;
    align-items: center;
    justify-content: center;
}

#nav-header {
    display: block;
    width: 100%;
}

#nav-title {
    margin: auto;
    display: block;
    padding: 1em 0 0 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    color: var(--text-300);
}

#nav-title a {
    color: var(--text-100);
}

.info-container {
    padding: 1em;
    display: flex;
}

.info-container .text-fields {
    padding: 1em .5em;
}

.info-container .text-fields.email {
    width: 95%;
}

#profilePage legend {
    padding: 1em 0;
    font-size: 1.5em;
    width: 30%;
    color: var(--text-100);
    background-color: var(--bg-100);
    margin: auto;
    text-align: center;
}

#profilePage label:not(#emailProfile) {
    width: 10em;
}

.pwd-container {
    display: block;
    padding: 1em;
}

#confirm {
    width: 11em;
}

#detail {
    font-size: 1.5em;
    font-weight: 300;
    padding-bottom: .7em;
    color: var(--primary-200);
    width: 420px;
    line-height: 1.5em;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 420px;
    border-radius: 20px;
    background-color: var(--primary-200);
    border: 2px solid black;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
    padding: 20px 30px 30px 30px;
    overflow: hidden;
}

.logo {
    height: 80px;
    width: 100px;
    margin-bottom: 20px;
}

.card svg {
    fill: var(--cardLabel);
    margin-bottom: .5em;
}

.card-number {
    width: 100%;
}

.card input::placeholder {
    color: var(--cardPlaceholder);
}

.card input:focus {
    outline: none;
}

#paymentMethod label {
    background-color: transparent;
}

.name {
    margin-right: 40px;
    margin-top: 1em;
    width: 10em;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.expiration-date {
    padding: 0px 0px 0px 0px;
    margin-right: 60px;
    width: 80px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.ccv {
    margin-right: 0px;
    width: 4em;
    display: inline-block;
    overflow: hidden;
}

.card input {
    border: none;
    background-color: transparent;
}

.card label {
    color: var(--cardLabel);
    font-weight: normal;
    pointer-events: none;
    display: block;
    padding-bottom: 2px;
}

input.card-name,
input.card-number {
    color: var(--background-link);
    font-size: 16px;
    height: 26px;
    width: 20em;
    border-bottom: 1px solid var(--cardPlaceholder);
    color: var(--cardLabel);
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

#card-main {
    display: block;
    padding-top: 5em;
}

#orderBtn {
    display: block;
    padding: .5em;
    margin: 2em auto;
}

/* payments e animation */

.center {
    margin: 0 auto;
    text-align: center;
}

#processing {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 20em;
    align-items: center;
    padding: 15px;
    background-color: var(--bg-100);
}

.headings h1 {
    color: var(--text-100);
    font-weight: 400;
}

.headings h2 {
    color: var(--text-200);
    font-weight: 300;
}

.headings {
    padding: 4em;
}

.headings.admin {
    text-align: center;
}

.wrapper {
    position: relative;
    margin: auto;
}

.gears {
    width: 200px;
    height: 200px;
    margin: 2em auto;
    border-radius: 50%;
    overflow: hidden;
    transform: scale(0);
    animation: scale 0.5s ease 0.5s forwards;
}

.gear-wrapper {
    position: absolute;
}

.gear-wrapper.gear-wrapper-1 {
    top: 0;
    left: 0;
    transform: rotate(10deg) translate3d(-40px, -60px, 0);
}

.gear-wrapper.gear-wrapper-2 {
    top: 0;
    right: 0;
    transform: rotate(25deg) translate3d(70px, -130px, 0);
}

.gear-wrapper.gear-wrapper-3 {
    bottom: 0;
    right: 0;
    transform: rotate(15deg) translate3d(30px, 20px, 0);
}

.gear-wrapper.gear-wrapper-4 {
    bottom: 0;
    left: 0;
    transform: translate3d(-70px, 70px, 0);
}

.gear {
    fill: var(--border);
    transform-origin: 50% 50%;
}

.gear.gear-1 {
    width: 90px;
    height: 90px;
    animation: gearRotate 1s linear 2s infinite reverse;
}

@keyframes payment {
    /* 0% {
        transform: translateX(0px);
    }
    TO DEFINE
    100% {
        transform: translateX(-1000px);
    } */
}

.gear.gear-2 {
    width: 150px;
    height: 150px;
    animation: gearRotate 1.5s linear 2s infinite;
}

.gear.gear-3 {
    width: 60px;
    height: 60px;
    animation: gearRotate 0.75s linear 2s infinite reverse;
}

.gear.gear-4 {
    width: 120px;
    height: 110px;
    animation: gearRotate 1.25s linear 2s infinite;
}

.loading-bar {
    position: relative;
    width: 200px;
    height: 10px;
    margin-top: 50px;
    margin: auto;
    background-color: var(--border);
    border-radius: 10px;
    overflow: hidden;
}

.loading-bar span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--text-200);
    transition: width .1s ease;
    animation-name: progressBarAnimation;
    /* animation-duration: 5s; */
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    display: block;
    border-radius: 50%;
    stroke-width: 1px;
    stroke: var(--accent-200);
    stroke-miterlimit: 10;
}

.checkmark-circle {
    fill: none;
    stroke-dasharray: 200px;
    stroke-dashoffset: 200px;
    stroke-width: 1px;
    stroke-miterlimit: 10;
}

.checkmark-check {
    stroke: var(--bg);
    /* stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    transform-origin: 50% 50%; */
}

#processing.uncomplete .gear-wrapper-1 {
    animation: gearEnter1 0.5s ease 1s forwards;
}

#processing.uncomplete .gear-wrapper-2 {
    animation: gearEnter2 0.5s ease 1.5s forwards;
}

#processing.uncomplete .gear-wrapper-3 {
    animation: gearEnter3 0.5s ease 1.25s forwards;
}

#processing.uncomplete .gear-wrapper-4 {
    animation: gearEnter4 0.5s ease 0.75s forwards;
}

#processing.complete .gears {
    background-color: transparent;
    transition: background-color 0.25s ease 0.75s;
}

#processing.complete .gear-wrapper-1 {
    transform: rotate(10deg) translate3d(-5px, -5px, 0);
    animation: gearLeave1 0.5s ease 0.5s forwards;
}

#processing.complete .gear-wrapper-2 {
    transform: rotate(25deg) translate3d(20px, -50px, 0);
    animation: gearLeave2 0.5s ease 0.5s forwards;
}

#processing.complete .gear-wrapper-3 {
    transform: rotate(15deg) translate3d(-25px, -15px, 0);
    animation: gearLeave3 0.5s ease 0.5s forwards;
}

#processing.complete .gear-wrapper-4 {
    transform: translate3d(0, 0, 0);
    animation: gearLeave4 0.5s ease 0.5s forwards;
}

#processing.complete .loading-bar {
    animation: hideLoading 0.5s forwards;
}

#processing.uncomplete .loading-bar span {
    animation: progressBarAnimation 4s linear 1.5s forwards;
}

#processing.complete .checkmark.checkmark-success {
    animation: fillCheckSuccess 0.4s cubic-bezier(0.65, 0, 0.45, 1) 1s forwards, beatCheck 0.2s ease-out 1.5s forwards, echoSuccess 1.25s ease-out 1.5s forwards;
}

#processing.complete .checkmark.checkmark-success .checkmark-circle {
    stroke: var(--success);
}

/* #processing.complete .checkmark.checkmark-error {
    animation: fillCheckError 0.4s cubic-bezier(0.65, 0, 0.45, 1) 1s forwards, beatCheck 0.2s ease-out 1.5s forwards, echoError 1.25s ease-out 1.5s forwards;
} */

#processing.complete .checkmark.checkmark-error .checkmark-circle {
    stroke: var(--error);
}

#processing.complete .checkmark-circle {
    animation: strokeCheck 0.5s cubic-bezier(0.65, 0, 0.45, 1) 0.75s forwards;
}

#processing.complete .checkmark-check {
    animation: strokeCheck 0 .3s cubic-bezier(0.65, 0, 0.45, 1) 1.25s forwards;
}

@keyframes gearEnter1 {
    to {
        transform: rotate(10deg) translate3d(-5px, -5px, 0);
    }
}

@keyframes gearEnter2 {
    to {
        transform: rotate(25deg) translate3d(20px, -50px, 0);
    }
}

@keyframes gearEnter3 {
    to {
        transform: rotate(15deg) translate3d(-25px, -15px, 0);
    }
}

@keyframes gearEnter4 {
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes gearLeave1 {
    from {
        transform: rotate(10deg) translate3d(-5px, -5px, 0);
    }

    to {
        transform: rotate(10deg) translate3d(-40px, -60px, 0);
    }
}

@keyframes gearLeave2 {
    from {
        transform: rotate(25deg) translate3d(20px, -50px, 0);
    }

    to {
        transform: rotate(25deg) translate3d(70px, -130px, 0);
    }
}

@keyframes gearLeave3 {
    from {
        transform: rotate(15deg) translate3d(-25px, -15px, 0);
    }

    to {
        transform: rotate(15deg) translate3d(30px, 20px, 0);
    }
}

@keyframes gearLeave4 {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-70px, 70px, 0);
    }
}

@keyframes gearRotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes progressBarAnimation {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes hideLoading {
    to {
        height: 0;
        margin: 0;
        opacity: 0;
    }
}

@keyframes scale {
    to {
        transform: scale(1);
    }
}

@keyframes fillCheckSuccess {
    to {
        box-shadow: inset 0 0 0 100px var(--success);
    }
}

@keyframes fillCheckError {
    to {
        box-shadow: inset 0 0 0 100px var(--error);
    }
}

@keyframes beatCheck {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

@keyframes echoSuccess {
    from {
        box-shadow: inset 0 0 0 100px var(--success), 0 0 0 0 transparent;
    }

    to {
        box-shadow: inset 0 0 0 100px var(--success), 0 0 0 50px transparent;
    }
}

@keyframes strokeCheck {
    to {
        stroke-dashoffset: 0px;
    }
}

.error {
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    float: left;
}

/*PAGINA 404*/
#error404 {
    height: 100%;
    width: 100%;
    margin-top: 90px;
    padding: 1em;
    font-size: 95px;
    text-align: center;
    text-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
    color: red;
    /* background-color: #111111; */
}

#error404 p {
    margin: .9em;
}

#error {
    color: black;
    text-transform: uppercase;
    text-shadow: 0 0 80px black;
}

#animOne {
    animation: upper 6s linear infinite;
}

#animTwo {
    animation: upper 15s linear infinite;
}

#code span,
#error span,
#error,
#error404 p {
    font-family: "Monoton", sans-serif;
}

#code span:nth-of-type(2) {
    animation: lower 9s linear infinite;
}

#code span:nth-of-type(1) {
    text-shadow: none;
    opacity: .4;
}

#print_cover {
    display: none;
}

@keyframes upper {

    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        opacity: .99;
        text-shadow: 0 0 80px black;
    }

    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        opacity: 0.4;
        text-shadow: none;
    }
}

@keyframes lower {

    0%,
    12%,
    18.999%,
    23%,
    31.999%,
    37%,
    44.999%,
    46%,
    49.999%,
    51%,
    58.999%,
    61%,
    68.999%,
    71%,
    85.999%,
    96%,
    100% {
        opacity: 0.99;
        text-shadow: 0 0 80px black, 0 0 30px #8B0000, 0 0 6px #8B0000;
    }

    19%,
    22.99%,
    32%,
    36.999%,
    45%,
    45.999%,
    50%,
    50.99%,
    59%,
    60.999%,
    69%,
    70.999%,
    86%,
    95.999% {
        opacity: 0.4;
        text-shadow: none;
    }
}

#error404 #goHome {
    font-family: "Prompt", sans-serif;
    margin: 2em, 20em, 2em, 20em;
    text-align: center;
    font-size: .18em;
    text-shadow: none;
    color: black;
}

#error404 a {
    color: red;
    text-decoration: underline;
}

#error404 a:hover {
    color: #8B4513;
}

.scroller {
    max-width: 600px;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,
            transparent,
            white 20%,
            white 80%,
            transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 60s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

.errorDati {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #ac030b;
    background-color: #FFBABA;
    text-align: center;
}

.confirmDati {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #3c670f;
    background-color: #baffbc;
    text-align: center;
}

#succ, #err {
    position: absolute;
    right: .5em;
    top: 1.4em;
}

#succ {
    stroke: #4F8A10;
}

#err {
    stroke: #ac030b;
}

/*ADMIN PAGE*/

.fieldProfile ul li {
    display: flex;
    width: 100%;
    padding: 1em;
    color: var(--text-100);
    border-bottom: 1px solid var(--border);
}

.fieldProfile {
    max-height: 100%;
    overflow-y: auto;
    position: relative;
}

.fieldProfile::-webkit-scrollbar {
    width: 10px;
}

.fieldProfile::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.fieldProfile::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Style the drop-down menu */
.dropdown-options {
    position: relative;
    display: inline-block;

}

.dropbtn {
    background: transparent;
    border: none;
    font-size: 24px;
    color: var(--text-100);
    /* Adjust size as needed */
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--bg-100);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style the buttons inside the dropdown */
.dropdown-content input[type="button"] {
    color: var(--text-100);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    text-align: left;
    width: 100%;
}

.product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-item a {
    text-align: center;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Add a hover effect for the buttons */
.dropdown-content input[type="button"]:hover {
    background-color: #ddd;
}

.cart-container {
    width: 90%;
    display: flex;
    border: 1px solid var(--text-100);
    padding: 1em;
    align-items: center;
    margin: 1em;
}

.cart-container a {
    width: 10%;
    text-align: center;
}

.cart-container .product-image {
    width: 80%;
    height: auto;
    object-fit: contain;
}

#cart-main .capsule {
    border-left: none;
    margin: unset;
}

#removeCart,
#processOrder,
#removeAll {
    color: var(--text-100);
    background-color: var(--bg-100);
    font-size: 1em;
    padding: 0.5em;
    text-align: center;
    border: 2px solid var(--text-100);
    border-radius: 5px;
    width: 6em;
}

#removeCart:hover,
#processOrder:hover,
#removeAll:hover {
    background-color: var(--bg-300);
}

.product-price {
    text-align: center;
}

#caps1 {
    width: 70%;
    color: var(--text-100);
}

#caps2 {
    width: 20%;
    text-align: center;
}

#caps2 #removeCart {
    display: block;
    margin: 1em auto 0;
}

#caps2 .qty-input input {
    font-size: 1em;
}

#cart-main #product-buttons {
    margin: 1em 0 4em;
    text-align: center;
}

#processOrder,
#removeAll {
    width: unset;
}

#cart-main #minus,
#cart-main #add,
#cart-main #qty {
    background-color: var(--bg-100);
}

#cart-main p {
    color: var(--text-100);
}

.text-fields.prod-description textarea {
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
    resize: none;
}

div.mod-prod {
    background-color: var(--bg-100);
    text-align: center;
    width: 70%;
    margin: auto;
}

.mod-prod label {
    color: var(--text-100);
    background-color: var(--bg-100);
}

#changepsw, #personalInfo {
    text-align: center;
}

#modificaProdotto,
#inserisci-prodotto,
#aggiungiSconto {
    text-decoration: none;
    background-color: var(--accent-100);
    color: var(--text-100);
    display: inline-block;
    margin: 3em 2em;
    font-size: 1em;
    text-align: center;
    border: 2px solid var(--primary-200);
    border-radius: 10px;
    padding: 1em;
}

#inserisci-prodotto {
    margin-bottom: 7em;
}

#modificaProdotto:hover,
#inserisci-prodotto:hover,
#aggiungiSconto:hover {
    background-color: var(--primary-200);
    color: var(--text-300);
}


.headings {
    color: var(--text-100);
}

.fieldProfile .sale-description li,
.fieldProfile .order-description li {
    border-bottom: unset;
    display: inline;
}

.admin-container {
    background-color: var(--bg-100);
    width: 70%;
    margin: auto;
    text-align: center;
}

.admin-container .headings {
    padding: 2em;
}

.admin-container label {
    background-color: var(--bg-100);
    color: var(--text-100);
}

.confirmDati {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #00d828;
    background-color: #baffbc;
    text-align: center;
}

.fieldProfile #tb1,
.fieldProfile #tb2 {
    border: 1px solid var(--text-100);
    margin: auto;
    padding: 1em;
    border-collapse: collapse;
}

table th,
table tr,
table td {
    border: 1px solid var(--text-100);
    padding: 1em;
}

#tb1 .product-item, #tb2 .product-item {
    border: none;
}

#tb1 caption,
#tb2 caption {
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em 0;
}

#sconti-desc,
#ordini-desc {
    display: none;
}

#hamburger {
    display: none;
}

/*500*/
#spaghetti.title {
    position: relative;
    top: 4em;
    font-size: 5em;
    text-transform: uppercase;

}

.error-500 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-100);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .3);
}

.error-500:after {
    content: attr(data-text);
    display: block;
    margin-top: calc(var(--height) / 10 + 15px);
    font-size: 28pt;
    text-align: center;
    line-height: 1em;
}

.spaghetti {
    width: var(--width);
    height: var(--height);
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, .2));
    display: block;
    margin: 0 auto;
    position: relative;
}

.plate {
    width: 100%;
    height: calc(var(--height) / 2.5);
    background: var(--progessBg);
    position: absolute;
    bottom: 0;
    border-radius: 0 0 50px 50px;
    z-index: 4;
}

.plate:before {
    content: 'Ristorante Italiano';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--text-100);
    text-align: center;
}

.plate:after {
    content: '';
    width: calc(var(--width) / 2);
    height: calc(var(--height) / 10);
    background: #B5C3D0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.pasta {
    width: calc(var(--width) / 4);
    height: calc(var(--width) / 4);
    border: 5px solid var(--spaghetti-border);
    background-color: var(--spaghetti-bg);
    border-radius: 50%;
    position: absolute;
    bottom: calc(calc(var(--height) / 2.5) / 3);
    right: 10px;
    box-shadow: calc(-1 * calc(var(--width) / 4) - 60px) 10px 1px 10px var(--spaghetti-bg), calc(-1 * calc(var(--width) / 4) - 60px) 10px 0 15px var(--spaghetti-border);
    z-index: 2;
}

.pasta:before {
    content: '';
    width: calc(var(--width) / 4);
    height: calc(var(--width) / 4);
    border: 5px solid var(--spaghetti-border);
    background-color: var(--spaghetti-bg);
    border-radius: 50%;
    position: absolute;
    bottom: -5px;
    right: 60px;
    box-shadow: calc(-1 * calc(var(--width) / 4) - 30px) 10px 1px 1px var(--spaghetti-bg), calc(-1 * calc(var(--width) / 4) - 30px) 10px 0 5px var(--spaghetti-border);
}

.pasta:after {
    content: '';
    width: calc(var(--width) / 3);
    height: calc(var(--width) / 4);
    border: 5px solid var(--spaghetti-border);
    background-color: var(--spaghetti-bg);
    border-radius: 50%;
    position: absolute;
    bottom: -15px;
    right: 100px;
    box-shadow: calc(var(--width) / 4) 10px 1px 1px var(--spaghetti-bg), calc(var(--width) / 4) 10px 0 5px var(--spaghetti-border);
}

.meatballs {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #B64C19;
    position: absolute;
    bottom: calc(var(--height) / 2.5);
    right: 64px;
    box-shadow: -150px -2px 0 0 #B64C19, -50px -7px 0 0 #B64C19, -100px 8px 0 0 #B64C19;
    z-index: 3;
}

.fork {
    width: 20px;
    height: calc(var(--height) - 30px);
    background: #D3D3D3;
    border-right: 3px solid #B7B7B7;
    border-radius: 50px 50px 0 0;
    position: absolute;
    bottom: 25%;
    left: 75%;
    transform: translate(-75%, 0%) rotate(25deg);
}

#return {
    color: var(--text-100);
    position: relative;
    font-size: 1.5em;
    text-align: center;
    vertical-align: bottom;
}

#return a {
    color: var(--primary-200);
}